# front end dependencies
node_modules/
build/
target/

# testing
coverage
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# server files and env
server-env/
__pycache__/

# Ignore large files managed by Git LFS
*.h5

# Ignore directories where large files might be stored
models/
